    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>DOMICILIOS</b></a>
        </div>
        <div class="navbar-collapse collapse" ng-if="$ctrl.show">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" ng-click="$ctrl.logOut()">Cerrar Sesion</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<ng-outlet></ng-outlet>


