<table id="container-floatinga">
	<tr>
		<td ng-repeat="chat in $ctrl.chats">
			<chat-directive chat="chat"></chat-directive>
		</td>
	</tr>
</table>



<style>
	.close-tab{
		border-radius: 20px;
		margin-top: 3px;
	}
	.tab-chat-name{
		color: white;
		top: 3px;
	}

	.chat-img-circle {
		margin: 2px;
		max-width: 50px;
	}

	#floating-buttona {
		width: 150px;
		height: 30px;
		/*border-radius: 50%;*/
		background: #db4437;
		cursor: pointer;
		box-shadow: 0px 2px 5px #666;    
		border-radius: 7px;
	}

	#container-floatinga {
		position: fixed;
		/*width: 70px;
		height: 70px;
		z-index: 50px;*/
		position: fixed;
		bottom: -8px;
		right: 20px;
		border-collapse: separate;
    	border-spacing: 5px 3px;
	}

	#floating-buttona:hover{
		height: 40px;
	}
</style>