		<div class="container">
			<div class="row mt centered">
				<div class="col-lg-6 col-lg-offset-3">
					<h1>¿Cómo funciona?<br/></h1>
					<h3>Siguiendo estos sencillos pasos podrás pedir un domicilio fácil y rápido.</h3>
				</div>
			</div><!-- /row -->
		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="assets/img/Logomakr_7gxLlQ.png" width="180" alt="">
				<h4>Inicia Sesión</h4>
				<p>Haz clik en tu red social favorita para iniciar sesión y empezar a tener lo que quieras sin salir de casa.</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="assets/img/Logomakr_4uMXRJ.png" width="180" alt="">
				<h4>Solicita un Pedido</h4>
				<p>Debes hacer clik en el boton HACER PEDIDO y seras dirigido a un formulario con tres simples campos.</p>

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="assets/img/Logomakr_1ubZOo.png" width="180" alt="">
				<h4>Diligencia el Formulario</h4>
				<p>Diligencia toda la información, intenta ingresar tantos detalles como puedas y haz clik en HACER PEDIDO.</p>

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->