
			<div id="headerwrapPerfil">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h1>Bienvenido! Nos alegra<br/>
						ternerte aquí.</h1>				
					</div><!-- /col-lg-6 -->
						<div class="col-lg-2"></div>
					<div class="col-lg-4 text-center">
						<button id="pedido"  ng-link="['Cretate']" class="btn btn-success btn-pedido">HACER PEDIDO</button>
						<!--img class="img-responsive" src="assets/img/perfilheader.png" alt=""-->

					</div><!-- /col-lg-6 -->
					
				</div><!-- /row -->
			</div><!-- /container -->
		</div><!-- /headerwrap -->
        
        <!--lista de domicilios-->
        <list></list>
		<!--chat-->
		<chat></chat>