			<div id="headerwrapPerfil">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>Bienvenido! al modulo de administración.</h1>				
					</div>
				</div><!-- /row -->
			</div><!-- /container -->
		</div><!-- /headerwrap -->

        <div class="container">
			<div class="row mt centered">
				<div class="col-lg-6 col-lg-offset-3">
					<h3>Todos los domicilios.</h3>
				</div>
			</div><!-- /row -->
			
			<div class="row mt centered" ng-cloak>

				<div class="col-lg-12">
					<table class="table table-hover" ng-show="$ctrl.domiciles.length > 0">
						<thead>
							<tr>
								<th></th>
								<th>Nombre</th>
								<th>Dirección</th>
								<th>Pedido</th>
								<th>Costo</th>
								<th>Tiempo Espera</th>
								<th>Estado</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="domicile in $ctrl.domiciles">
								<th scope="row">#{{domicile.codigo}}</th>
								<td>
									{{domicile.nombre}}
								</td>
								<td>
									{{domicile.direccion}}
								</td>
								<td style="max-width: 300px">
									{{domicile.pedido}}
								</td>
								<td>
									<input type="text" class="form-control" ng-model="domicile.costo">
								</td>
								<td>
									<input type="text" class="form-control" ng-model="domicile.tiempoEspera">
								</td>
								<td>
                                    <select class="form-control" ng-model="domicile.estado">
                                        <option value="1">Pendiente</option>
                                        <option value="2">En camino</option>
                                        <option value="3">Entregado</option>
                                        <option value="4">Cancelado</option>
                                    </select>
                                </td>
								<td>
									<a ng-click="$ctrl.save(domicile)" class="btn btn-success btn-pedido">GUARDAR</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div><!--/col-lg-4 -->

			</div><!-- /row -->
		</div><!-- /container -->

		<admin-chat></admin-chat>
