		<navbar></navbar>
		<header></header>	
		<steps></steps>
		
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h3>¿Qué esperas? Empieza ya!</h3>
				<login></login>
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Nuestro Equipo.</h1>
			</div>
		</div><!-- /row -->
		<div class="row mt centered">
			<div class="col-lg-4">
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="assets/img/davidfoto.jpg" width="140" alt="">
				<h4>David Sanchez</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->
			<div class="col-lg-4">
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	<div class="container">
		<hr>
		<p class="centered">Created by Jeison Adarme - 2017</p>
	</div><!-- /container -->